/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Dec, 2016, 4:28:00 PM
    Author     : elliotmoose
*/
@viewport
{
	width: 100px;
}

body
{
   margin: 0;
}
#container
{	
	margin-top: 50px;
	float : left;
	clear: both;
    width: 100%;
}

.navElement
{
    float : left;
    display: block;
    color: #000;
    font-size: 30px;
    padding: 14px 16px 14px 16px;
    text-align: center;
    text-decoration: none;
	
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;

}
.rightNavElement
{
	float : right;
    display: block;
    color: #000;
    font-size: 30px;
    padding: 14px 16px 14px 16px;
    text-align: center;
    text-decoration: none;
	
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;

}
#NavigationBar
{
    font-family : Ailerons;
    background-color: #EEE;

    position: fixed;
    float:top;
     
    top : 0;
    left : 0;
    
    width : 100%;
    height: 65px;
    padding: 0px;

	z-index: 10000;
	
    box-shadow: 2px 2px 5px black;
}

ul
{
    margin-top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    list-style-type: none;
}

#mainImage
{
	
}
#AfterdarkBanner
{
	position:absolute;
	
	top: 30%;
	left: 0;
    text-align:center;

	width : 100%;
	
	font-family: Ailerons;
	font-size: 200px;
	color : black;
}
#AfterdarkBannerContainer
{
	
	width : 100%;
    height: 1000px;
	position : relative;
	overflow : hidden;
}

#AfterdarkBannerSubtitle
{
	position:absolute;
	
	top: 65%;
	float: center;
	clear: both;

	width : 100%;
	text-align: center;
	
	font-family: Ailerons;
	font-size: 30px;
	color : black;
}

/* Change the link color on hover */
li a:hover {
    	
	background-color: #555;
    color: white;
}


#main
{
    clear: both;
    float : right;
    background-color: grey;
    color: white;
    height : 1000px;
}

@font-face
{
    font-family: Ailerons;
    src: url('../Website/Fonts/Ailerons-Typeface.otf');
    
}

@media screen and (max-width: 1000px)
{
	.mobileCollapse
	{
		float : none;
	}
	
	.mobileHide
	{
		display:none;
	}
	
	#AfterdarkBannerContainer
{
	
	width : auto;
    height: 500px;
	overflow : hidden;
}

}
