body{
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#backgroundImage
{
	position: absolute;
	left:0px;
	top:0px;

	padding: 0px;	
	opacity: 0.4;

	width: 100vw;
	height: 100vh;
	overflow:hidden;
	object-fit:cover;	
	
}

#container
{	
	padding: 60px;
	position: absolute;	
	top: 0px;
	float: left;
	width: calc(100vw - 120px);
	height: calc(100vh - 120px);
	overflow: hidden;	
}


#navBar
{	
	position: relative;
	display: block;
	float:left;

	width: 200px;
	height: calc(100vh - 120px);

	background-color: white;	
    box-shadow: 0px 2px 5px black;
}

#content-body
{
	position: relative;
	display: block;
	float:left;
	margin: 0px 0px 0px 60px; 

	width: calc(100vw - 380px);
	height: calc(100vh - 120px);

	overflow-x:hidden;
	overflow-y:scroll; 	


}

#title
{
	font-family: Ailerons;
	text-align: right;
	font-size: 30px;
	margin: 30px 10px 0px 0px;
}

#navBar > ul
{
	list-style: none;	
	padding: 0;
	margin: 0;

}

#navBar > ul > li{
	display:inline-block;
	float:left;

	width:calc(100% - 15px );
	height:30px;


	text-align: right;
}

#navBar a
{
	display:inline-block;
	position: relative;

	width: 100%;
	height: 100%;

	line-height: 30px;
	margin:10px 0px 10px 0px;

	transition-duration: 0.2s;
	transition-timing-function: ease-in;

	font-family: Ailerons;
	font-size: 18px;
	color:grey;
	text-decoration: none;	
	background-color: white;
}



#navBar #list
{
	position: relative;
	top:10px;
}

#navBar a:hover
{
	background-color: lightgrey;
}






#images
{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.whitebox
{
	position: absolute;
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;

	object-fit:cover;
}

.whiteboxOverlay
{
	position: absolute;
	min-height: 100%;
	height: 100%;
	min-width: 100%;
	width: 100%;

	line-height: 300px;
	text-align: center;
	background-color: black;
	color: white;
	opacity: 0;
    transition: all 40ms ease;
    transition-delay: 0s;
}

.whiteboxGroup:hover .whiteboxOverlay {
  opacity: 0.5;
}

.whiteboxGroup
{
	display: flex;
	position: relative;
	margin: 0px 20px 20px 0px;
	float: left;
	
	width: 30%;
	height: 30%;
	min-height: 300px;
	min-width: 300px;

	background-color: white;


	box-shadow: 0px 1px 3px black;
}

@font-face
{
    font-family: Ailerons;
    src: url('/Fonts/Ailerons-Typeface.otf');
    
}



