/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Dec, 2016, 3:35:11 PM
    Author     : T.WANYI
*/

#container
{
    
}

body
{
    margin-left: 0;
}
.redObjects
{
    background-color: red;
}




